@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/Segoe\ UI.ttf") format("truetype");
  /* Add other font formats as needed */
}

body {
  font-family: "MyCustomFont", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #1b1b1b;
}

.degree-bg {
  width: 93%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 25px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.degree-bg-container {
  position: relative;
}

.degree-text {
  font-size: 14px;
  font-weight: 500;
  top: 15px;
  left: 24%;
  width: 500px;
  position: absolute;
}

.main-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/illustration.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity (last parameter) as needed */
}

.login-section {
  position: relative;
  z-index: 1;
  max-width: 440px;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 44px;
  border: none;
  border-radius: 0;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 12px;
}
.input.text-box {
  padding: 4px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  height: 32px;
  height: 2rem;
  padding: 6px 10px;
  border-width: 1px;
  border-color: #666;
  border-color: rgba(0, 0, 0, 0.6);
  height: 36px;
  outline: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 0;
}

.input.text-box.error {
  border-color: red;
}

.input.text-box:focus {
  background-color: #fff;
  border-color: #0067b8;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.link {
  color: #0067b8;
  font-size: 13px;
  font-weight: 400;
  padding: 20px 0px;
}

.button.secondary {
  display: inline-block;
  min-width: 100px;
  padding: 4px 12px 4px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  touch-action: manipulation;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  min-height: 32px;
  border: none;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 108px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.button.primary {
  color: #fff;
  border-color: #0067b8;
  background-color: #0067b8;
  display: block;
}
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  min-height: 32px;
  border: none;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 108px;
  line-height: normal;
}

.boilerplate-text {
  background-color: #f2f2f2;
  padding: 24px 44px 36px 44px;
}

.boilerplate-text p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #1b1b1b;
}

.boilerplate-text p a {
  color: #0067b8;
}

.options {
  padding: 12px 44px;
  background-color: white;
}

.tile-img.medium {
  width: 32px;
  height: 32px;
}
.table-row {
  gap: 20px;
}

.terms {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.terms a {
  color: #fff;
  font-size: 12px;
  line-height: 28px;
  white-space: nowrap;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
.options {
  margin-top: 20px;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.title-approve {
  color: #1b1b1b;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .login-section {
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 24px;
  }
  .card {
    padding: 0px;
  }
  .options {
    margin-top: 0px;
    border: 1px solid #1b1b1b;
  }

  .boilerplate-text {
    padding: 20px;
    margin-top: 30px;
  }
  .terms {
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 22;
  }
  .terms a {
    color: #1b1b1b !important;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media (min-width: 800px) {
  .main-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/illustration.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
  }
}
